
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #202028;
  color: #fff;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 3%;
  background-color: #202028;

  padding: 10px;
}

.dashboard {
  flex: 1;
  padding: 20px;
}
